.ionIconSize {
    font-size: 50px;
}

.label-buy {
	font-size: 16px;
    color: #970404;
}

.label-sell {
	font-size: 16px;
    color: #118707;
}

.label-regular {
	font-size: 16px;
	color: black;
}

#html5Form .inputContainer .form-control {
    padding-right: 10px;
}
/* Adjust feedback icon position */
#html5Form .inputContainer .form-control-feedback {
    right: -15px;
}